<div class="container">
  <form
    class="form-container text-start"
    [formGroup]="form"
    (ngSubmit)="signIn()"
  >
    <label for="email">E-mail</label>
    <input
      type="email"
      class="form-control form-control-lg mb-3"
      [ngClass]="aplicarCss('email')"
      id="email"
      name="email"
      placeholder="name@example.com"
      formControlName="email"
      required
    />
    @if(validateEmail()){
      <div class="invalid-feedback mb-2">Digite o email corretamente.</div>
    } @if (validateTouched('email')){
      <div class="invalid-feedback mb-2">E-mail obrigatório</div>
    }

    <label for="password">Senha</label>
    <input
      [ngClass]="aplicarCss('password')"
      type="password"
      class="form-control form-control-lg mb-3"
      id="password"
      name="password"
      placeholder="Password"
      formControlName="password"
      required
    />
    @if (validateTouched('password')){
      <div class="invalid-feedback mb-2">Senha obrigatório</div>
    }
      <button
        type="submit"
        [disabled]="!form.valid"
        class="btn btn-primary w-50 mb-5"
      >
        Entrar
      </button>
      <a
        class="nav-link active"
        aria-current="page"
        [routerLink]="['/register']"
        routerLinkActive="router-link-active"
        >Ainda não tem conta? cadastre-se agora!</a
      >
  </form>
</div>
