<div class="container">
  <form class="form-container" [formGroup]="form" (ngSubmit)="signIn()">
    <div class="form-floating mb-3 text-start">
      <input
        type="email"
        class="form-control"
        [ngClass]="aplicarCss('email')"
        id="floatingInput"
        name="email"
        placeholder="name@example.com"
        formControlName="email"
        required
      />
      <label for="floatingInput">E-mail</label>
      @if(validateEmail()){
      <div class="invalid-feedback">Dígite o email corretamente.</div>
      } @if (validateTouched('email')){
      <div class="invalid-feedback">E-mail obrigatório</div>
      }
    </div>

    <div class="form-floating mb-3 text-start">
      <input
        [ngClass]="aplicarCss('password')"
        type="password"
        class="form-control"
        id="floatingPassword"
        name="password"
        placeholder="Password"
        formControlName="password"
        required
      />
      <label for="floatingPassword">Senha</label>
      @if (validateTouched('password')){
      <div class="invalid-feedback">Senha obrigatório</div>
      }
    </div>
    <button type="submit"  [disabled]="!form.valid"  class="btn btn-primary w-50">Entrar</button>
  </form>
</div>
