@if (!isAuthenticated()) {
<div
  class="offcanvas offcanvas-start show text-bg-dark w-25"
  tabindex="-1"
  id="offcanvasDark"
  aria-labelledby="offcanvasDarkLabel"
>
  <div class="offcanvas-header">
    <div class="container text-center">
      <img
        class="w-50 rounded-circle object-fit-cover"
        src="https://avatars.githubusercontent.com/u/164188985?v=4"
        alt="Perfil do usuário"
      />
    </div>
  </div>
  <div class="offcanvas-body d-flex flex-column text-center gap-2">
    <h5 class="mb-0">Amilton José</h5>
    <p class="mb-auto">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa similique,
      quas ea, laborum harum aliquid magni error inventore natus, voluptates
      atque? At dolores asperiores, corporis minus velit quis repellendus ad.
    </p>
    <button type="button" class="btn btn-outline-secondary">Meu Perfil</button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="logout()"
    >
      Sair
    </button>
  </div>
</div>
}
<router-outlet></router-outlet>
